*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 1280px;
    position: fixed;
}

p.apa{
    text-indent: 40px;
    padding-top: 10px;
    text-align: justify;
}

ol{
    list-style-type: square;
    list-style-position: outside;
    padding-left: 50px;
}

ol li{
    margin: 5px;
    font-weight: lighter;
}


h4{
    padding-right: 50px;
    text-align: left;
}

/* h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
} */

/* img.one{
    width: 100px;
} */

img.hey{
    width: 200px;
    border: 4px dotted blue;
    border-radius: 10%;
    margin: 15px 10px 5px 20px;
}

/* kode css navigator */
ul{
    list-style: none;
    background: maroon;
    padding: 0px 0px;
    margin: 110px 0px;
    position: fixed;
    width: 1280px;
    height: 60px;
}

ul li{
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}

ul li a{
    padding: 10px 0px;
    text-align: center;
}

ul a:hover{
    background-color: aqua;
    
}

/* kode css untuk dropdown */
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    background: maroon;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown{
    display: block;
}

/* kode css side bar */
.column{
    float: left;
}

.column.side{
    margin-top: 170px;
    width: 40%;
    background-color: peachpuff;
    height: 600px;
    padding: 30px 10px;
}

.column.middle{
    margin-top: 170px;
    width: 100%;
    background-color: peachpuff;
    height: 400px;
    padding: 30px 30px;
    padding-right: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: scroll;
}

.footer{
    position: fixed;
    margin-top: 550px;
}